{% extends "layout.html" %}

{% block title  %}
   {{title}}
{% endblock%}


{% block image  %}
'/static/img/maintain.jpg'
{% endblock%}

{% block siteheading  %}
{{subheading}}
{% endblock%}



{% block subheading  %}

{% endblock%}



{% block script%}

	{% endblock%}











{% block body  %}


<br>
<br>

<div class="container" style="text-align:center;"  >
<pre style="font-size:18px; text-align:left;">{{string}}</pre>
<br>
</div>

<div style="text-align:center;  " >
    <a href="/admin/-"  type="submit"style=" background-color: ; boader-color:red;border-radius:12px;margin-top:2%;margin-left:2%; "  class="btn btn-info"> <i class="fa  fa-reply-all  "></i> Go Back </a>
</div>
{% endblock %}

